<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>radium-combo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../web-component-tester/browser.js"></script>
  <script src="../../test-fixture/test-fixture-mocha.js"></script>

  <link rel="import" href="../../test-fixture/test-fixture.html">
  <link rel="import" href="../radium-combo.html">

  <style>

  </style>
</head>
<body>
  <test-fixture id="WithLabel">
    <template>
      <radium-combo label="foobarbaz"></radium-combo>
    </template>
  </test-fixture>

  <test-fixture id="WithDisabled">
    <template>
      <radium-combo disabled></radium-combo>
    </template>
  </test-fixture>
  <script>
    /*
    * These tests are just something to get started.  Need to write
    * the real tests soon.
    */
    suite('<radium-combo>', function () {
      var select;

      suite('with a label', function () {
        setup(function () {
          select = fixture('WithLabel');
        });

        test('should have property set correctly', function (done) {
          expect(select.label).to.be.eql('foobarbaz');
          expect(select.disabled).to.be.undefined;
          done();
        });
      });

      suite('with disabled', function () {
        setup(function () {
          select = fixture('WithDisabled');
        });

        test('should have property set correctly', function (done) {
          expect(select.label).to.be.eql('');
          expect(select.disabled).to.be.eql(true);
          done();
        });
      });

    });
  </script>

</body>
</html>
